@import '~reset-css/reset.css';
@import '~@servicetitan/anvil-fonts/dist/css/anvil-fonts.css';
@import '~@servicetitan/design-system/dist/system.min.css';
@import '~@servicetitan/kendo-theme';

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
